body{
	background: #55FFA2FF;
}

h1{
	color: black;
	text-align: center;
}


h2{
	color: black;
	text-align: center;	
}


h3{
	color: white;
	text-align: center;
}

div{
	margin: auto;
}

/*..................*/
.cuadrado{
	width: 50px;
	height: 50px;
	background: red;

	animation-name: cuadrado;
	animation-duration: 10s;
}
/*Elemento que aplicará animación al selector*/
@keyframes cuadrado{
	0%{background-color: red;}
	25%{background-color: yellow;}
	50%{background-color: blue;}
	100%{background-color: black;}
}


/*.rectangulo{
	width: 100px;
	height: 80px;
	background-color: green;

	position: relative;

}
*/

.triangulo{
	height: 0;
	width: 0; /*en sí es un rectangulo que se divide en tres, los primeros dos son los otros lados*/
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid red;

	animation-name: triangulo;
	animation-duration: 5s
}

@keyframes triangulo{
	0%{border-left: 50px solid transparent,
		border-right: 50px solid transparent,
		border-bottom: 50px solid red,
		left: 0px,
		top: 0px;
		}
	25%{border-left: 50px solid transparent,
		border-right: 50px solid transparent,
		border-bottom: 50px solid blue,
		left: 25px,
		 top: 30px;}
	50%{border-left: 50px solid transparent,
		border-right: 50px solid transparent,
		border-bottom: 50px solid gold,
		left: 53px,
		 top: 65px;}
	75%{border-left: 50px solid transparent,
		border-right: 50px solid transparent,
		border-bottom: 50px solid purple,
		left: 65px,
		 top: 100px;}
	100%{border-left: 50px solid transparent,
		border-right: 50px solid transparent,
		border-bottom: 50px solid red,
		left: 65px,
		 top: 100px;}
		

}

.circulo{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: white; 

	animation: circulo 1s linear 0s infinite;
}

@keyframes circulo{
	from{
		box-shadow: 100px 0 0 0 white,
					300px 0 0 0 white,
					500px 0 0 0 red,
					700px 0 0 0 white,
					900px 0 0 0 white,
					1100px 0 0 0 white,
					1300px 0 0 0 white;
		}
	to{
		box-shadow: 100px 0 0 0 white
					300px 0 0 0 white
					500px 0 0 0 white
					700px 0 0 0 red
					900px 0 0 0 white
					1100px 0 0 0 white
					1300px 0 0 0 white;

	}
}

.pacman{
	margin: 50px 10px;
}

.pacmans1{
	background: yellow;
	height: 100px;
	width: 200px;
	border-radius: 0 0 100px 100px;
}